@{
    ViewData["Title"] = "About";

}

<div class="center limit">
    <h1>ABOUT US</h1>
    <hr />
    <h2>Tracking, reporting, and alerting Portland communties since 2018</h2>
    <p>
        We allow individuals to report ICE raids in their communities and alert those who have signed up. If a raid is reported, a text message will immediately be sent out to all registered members. <br /><br />
        Because our raid reports are provided by eye witnesses, we unfortunately cannot guarantee the validity of all reported sightings.<br /><br />
        Many features of our project were inspired by Redad Alertas. Learn more <a href="http://redadalertas.com">here</a>.
    </p>
    <h1>FAQs</h1>
    <hr />
    <h2>What do we do?</h2>
    <p>We're committed to building mobile-friendly webpages to help inform vulnerable immigrants of the risks they may face in their neighborhood or workplace. This app delivers real-time, location-based information about immigration enforcement activity.</p>
    <br />
    <h2>How does it work?</h2>
    <p>Witnesses can report nearby immigration raids and other enforcement activity on our mobile-friendly reporting website.</p>
    <br />
    <h2>Who are the developers?</h2>
    <p>ICE Breaker was developed by 5 junior web developers from Epicodus, a coding bootcamp in Portland, OR. For individual inquiries:</p>
    <br />
    <h3>Nikki Boyd | boyd.nikki@icloud.com</h3>
    <h3>Kelli Brooke | </h3>
    <h3>Devin Mounts | </h3>
    <h3>Ryan Putman | </h3>
    <h3>Renee Sarley | </h3>
</div>
<div id="google_translate_element"></div>

<script type="text/javascript">function googleTranslateElementInit() {
        new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
}</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>