@{
    ViewData["Title"] = "About";
}

<div class="center limit">
    <h1>ABOUT US</h1>
    <hr />
    <h2>Tracking, reporting, and alerting Portland communties since 2018</h2>
    <p>
        We allow individuals to report ICE raids in their communities and alert those who have signed up. If a raid is reported, a text message will immediately be sent out to all registered members. <br /><br />
        Because our raid reports are provided by eye witnesses, we unfortunately cannot guarantee the validity of all reported sightings.<br /><br />
        Many features of our project were inspired by Redad Alertas. Learn more <a href="http://redadalertas.com">here</a>.
    </p>
</div>

<div id="google_translate_element"></div>

<script type="text/javascript">function googleTranslateElementInit() {
        new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
}</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>