@{
    ViewData["Title"] = "Contact Us";
}

<div class="center limit">
    <h1>CONTACT US</h1>
    <hr />
    <h2>Questions, comments, or inquiries? We'd love to hear from you!</h2><br />
    <div class="row">
        <div class="col-md-6">
            <h3>email:</h3>
            <p><a href="mailto:support@icebreaker.org?Subject=New%20email" target="_top">support@icebreaker.org</a></p>
            <h3>phone:</h3>
            <p>1-800-123-4567</p>
        </div>
        <div class="col-md-6">
            <h3>address:</h3>
            <p>400 SW 6th Ave<br />
             Suite #800<br />
             Portland, OR 97204</p>
        </div>
    </div>
</div>

<div id="google_translate_element"></div>

<script type="text/javascript">function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
}</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>