input[type="text"] {
    font-size: 16px;
    text-align: center;
}

ul {
    top: 0;
}

.limit {
    max-width: 750px;
}

.form-control {
    font-size: 16px;
}

select option {
    font-size: 16pt;
}

body {
    font-size: 16px;
    text-align: center;
}

.center {
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.disclosure {
    padding-top: 50px;
}

.btn {
    font-size: 16px;
    margin: 10px;
}

.fist {
    width: 15%;
}

navbar {
    top: 0;
}

.jumbotron {
    background-color: #BA4C44;
    font-family: 'Syncopate', sans-serif;
    position: relative;
    color: white;
}

textarea {
    width: 100px;
}

li {
    padding: 10px;
}