@{
    ViewData["Title"] = "Sign Up";
}

<div class="center limit">
    <h1>SIGN UP</h1>
    <hr />
    <h2>To receive alerts for future ICE raids or report a raid, please create an account.</h2>
    <br />
    <div class="row">
        <form action="/users/sign-up" method="post">
            <div class="col-md-6 first-col">
                <div class="form-group">
                    <label for="firstName">First Name</label><br />
                    <input id="first-name" type="text" name="firstName" placeholder="John" required>
                </div>
                <br /><br />
                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label><br />
                    <input type="number" name="phoneNumber" placeholder="5031234567" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="lastName">Last Name</label><br />
                    <input id="last-name" type="text" name="lastName" placeholder="Doe" required>
                </div>
                <div class="form-group anonymous">
                    <input id="anonymous" type="checkbox" name="anony" value="true">Remain Anonymous
                </div>
                <button class="btn btn-danger join-button" type="submit">CREATE ACCOUNT</button>
            </div>
        </form>
        <div class="col-md-4">
            <img class="profile" src="~/images/new-account.png" /></img>
        </div>
    </div>
</div>
<div id="google_translate_element"></div>

<script type="text/javascript">function googleTranslateElementInit() {
        new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
}</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>