@{
    ViewData["Title"] = "Log In";
}
<div class="center">
    <h1>Login to Existing Account</h1>
    <form action="/users/login" method="post">
        <div class="form-group">
            <label for="phoneNumber">Phone Number:</label><br />
            <input type="text" name="phoneNumber" placeholder="(503)-123-4567">
        </div>
        <button class="btn btn-danger" type="submit">Login</button>
        <a href="/users/register" class="btn btn-danger">Sign Up</a>
    </form>
</div>
