@{
    ViewData["Title"] = "Log In";
}
<div class="center">
    <h1>My Account</h1>
    <form action="/users/login" method="post">
        <div class="form-group">
            <label for="phoneNumber">Phone Number:</label><br />
            <input type="text" name="phoneNumber" placeholder="(503)-123-4567">
        </div>
        <button class="btn btn-danger" type="submit">Login</button>
        <a href="/users/register" class="btn btn-danger">Sign Up</a>
    </form>
</div>
<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,bs,en,es,fa,fr,ht,ig,ko,lo,my,ps,so,vi,zh-CN', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  