@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutAccount";
}

<h1>Update Account</h1>

<h3>Name: <span class="bolder">@Model["user"].FirstName @Model["user"].LastName</span></h3>
<h3>Phone #: <span class="bolder">@Model["user"].PhoneNumber</span></h3>


<a href="/sightings/@Model["user"].Id/delete" class="btn btn-primary">Delete My Account</a>






