@{
    ViewData["Title"] = "New Sighting";
}
<form action="/sightings/@Model.Id/save" id="sightingsForm" method="post">
    <div class="form-group">
        <label for="description">Description</label>
        <input class="form-control" type="text" name="description">
    </div>
    <div class="form-group">
        <label for="type">Raid Type</label>
        <select name="type" class="form-control" id="type">
            <option value="Checkpoint">Checkpoint</option>
            <option value="Business">Business</option>
        </select>
    </div>
    <div class="form-group">
        <label for="address">Street Address</label>
        <input class="form-control" type="text" name="address">
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input class="form-control" type="text" name="city">
    </div>
    <div class="form-group">
        <label for="state">State</label>
        <input class="form-control" type="text" name="state">
    </div>
    <div class="form-group">
        <label for="zip">Zip Code</label>
        <input class="form-control" type="text" name="zip">
    </div>
    <button class="btn btn-danger" class="submit">Submit</button>
</form>